<form method="POST" id="signInForm">
    <label for="username">Username: <input name="username" type="text" id="username" required></label>
    <label for="password">Please enter your Password <input name="password" type="password" minlength="3" maxlength="3" required></label>
    <button>Submit</button>
</form>