<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/png" href="/nbFavicon.png"/>
  </head>
  <body>
    <button onclick="window.location.href='/search'">New Search</button>
    {{{body}}}
  </body>
</html>
