:root{
    --text-color:brown;
}
body{
    background-image: url(bg/22900-blue-sky-prairie-scenery.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    margin:.1em;
}
.left{
    transform: scaleX(-1)
}
#grid{
    display: grid;
    grid-template: "d p b" minmax(26em, auto)
                   /max-content 4fr 1fr;
}
#drawers{
    width:max-content;    
    grid-area: d;
    display:grid;
    grid-template: "a b" 4em
                   "c d" 4em
                   "e f" 4em
                   "g h" 4em
                   /4em 4em;
    grid-gap: .1em;
}
.body_part, .body{
    position:absolute;
    cursor: pointer;
    transition: height 0.5s, width 0.5s , filter 0.95s;
    transform: matrix(1,0,0,1,0,0);
    filter: brightness(100%);
}
.drawer{
    border:solid .05em rgb(190, 190, 235);
    border-radius:30%;
    overflow: hidden;
    display:grid;
    grid-template: "n" 1.3em
                   "p";
}
#buttons, #change_buttons{
    text-align: center;
}
.bright{
    filter: brightness(175%);
}
.game_button{
    width:80%;
    height:4em;
    border-radius: 20%;
    background-color: rgb(149, 149, 206);
    color: var(--text-color);
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-size: 1.4em;
}
.part_holder{
    grid-area: p;
    overflow: visible;
    text-align: center;
}
.next_part{
    margin: 0 auto;
    text-align: center;
    grid-area: n;
    cursor: pointer;
    color:var(--text-color);
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}
.next_part:hover{
    text-decoration: underline;
    text-decoration-color: var(--text-color);
}
.in_drawer{
    transition: transform .5s;
}
.body_part, .body, .next_part{
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
#buttons{
    display: grid;
    grid-template: "a a"/1fr 1fr;
    justify-items: center;
    align-items: center;
}
