#grid{
    display: grid;
    grid-template: "map map locales" minmax(25em ,67vh)
                   "info info info" minmax(33vh, auto)
                   /2fr 2fr 1fr;
}
#map{
    height: 100%;
    grid-area: map;
}
#locales{
    grid-area: locales;
    overflow: scroll;
}
#info{
    grid-area: info;
    height: 100%;
    width: 100%;
    background-color: rgb(152, 141, 323);
    display:grid;
    grid-template: "summary link img"
                  /3.2fr .6fr 1.2fr;
    grid-column-gap: 1em;
    justify-items: center;
    align-items: center;
    
}
#input{
    position: sticky;
    top: 0;
    padding: 1em;
    background-color: lightblue;
}
.locale{
    padding: 1em;
    text-align: center;
}
#summary{
    grid-area:summary;
    text-align: justify;
    padding-left: 1em;
}
#info img{
    grid-area:img; 
    height: 100%;
    max-width: 100%;
    max-height: 15em;
}
#wikLinkDiv{
    background-color: rgb(200,200,200);
    border-radius: 50%;
    height: fit-content;
    align-items: center;
    padding: 20% 1em;
    grid-area: link;
}
#wikLinkDiv a{
    text-decoration: overline;
}
#wikLinkDiv a:hover {
    text-decoration:underline;
}