table{
    background-color: beige;
    margin: 3em;
    
}
tr{
  transition:all 2.5s;  
}
tr:not(#head){
    font-size: 1em;
    height: 1em;
}
tr:not(#head) td:nth-child(1){
    font-size: 1em;
}
tr:not(#head):hover{
    height: 2em;
    font-size: 2em;
    background-color: gold;
    color: blueviolet;
    font: weight 650; 
}
tr:nth-child(2n){
    background-color: brown;
}
td:last-child{
    font-style: italic;
}
td:first-child{
    text-shadow: 5em;
    
}
label, input{
    font-size: 1.5em;
    margin: .7em;
}
span{
    display: inline-block;
}
input[name="rating"]{
    width: 50%;
}
button[type="submit"]{
    margin: 2em;
    width: 10%;
    min-width: fit-content;
    font-size: 120%;
    border-radius: 5px;
}
form{
    max-width: 75%;
    border: 1px solid black;
    margin: auto;
    overflow: scroll;
    padding: 3px;
}
.radio{
    display: inline-block;
    width: 4em;
    margin: .5em;
    vertical-align: middle;
}
[type="radio"]{
    margin: .1em;
}
label[for="Reccomend"],label[for="comments"]{
    margin-right: 0;
}
textarea{
    vertical-align: middle;

}
 