img{
    margin: 20px;
    height: 200px;
    width: 325px;
}
.itemimg{
    display: inherit;
    height: 100px;
    width: 160px;
}
#d1{
    margin: auto; 
    width: fit-content;
}
h1{
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: solid 3px tomato;
}
p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    background-color: blanchedalmond;
    font-size: 200%;
    font-stretch: expanded;
    
}
.items{
    border: 5px solid darkviolet;
}
.item{
    display: inline-block;
}
.descript{
    display: inline-block;
    padding:5px;
    background-color: white;
    font-size: 85%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.itemdesc{
    display: inline-block;
    padding: inherit;
    
}
a:hover{
    text-decoration: underline;
}
a{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
    text-decoration: none;
}
.clickHolder{
    width: 130px;
    background-color: lightgray;
    border: 2px dashed firebrick;
    box-shadow: 7px 4px 2px 0px gray;
}
.clickHolder:hover{
    border: 3px solid firebrick;
}
.click{
     width: inherit;
     margin: inherit;
     background-color: lightgray;
     font-family: 'Courier New', Courier, monospace;
     margin: 0px;
     text-shadow: 5px 3px 1px gainsboro;
 }
