#messagesDisplay {
    min-height: 300px;
    border: 1px solid black;
    margin-bottom: 1em;
}

#message {
    width: 90%;
}

#newMessageForm button {
    float: right;
}

#messagesContainer {
    display: none;
}

.error {
    color: red;
}

.status {
    font-style: italic;
    color: gray;
}

#chatterersDisplay{
    display:inline-block;
    color:red;
    font-weight: bolder;
}

#currentlyTypingDisplay{
    color:blue;
}
.privateMessage{
    color: green;
    font-size: .8em;
}
.messageName{
    color: green;
    font-weight: 500;
    font-size:1.1em;
}