
#grid{
     --home_color:blue;
    --blogs_color:green;
    display:grid;
    grid-template: "nav  nav  nav" 3em
                   "main main side" minmax(33em, auto)
                   /2fr  2fr 1fr;
}
.link{
    color:var(--home_color);
    cursor: pointer;
}
#main{
    grid-area: main;
}
#header{
    grid-area: nav;
    background-color: black;
    text-align: center;
}
#sidebar{
    padding:2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: sticky;
    top:0;
    grid-area: side;
}

