#videogrid{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}
#theVideo{
    width: 428px; 
    height: 240px; 
    margin:auto; 
    object-fit: fill;
    display: block;
}
#videoControl, #videoStop{
    display:none;
}
#buttonGrid{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr .5fr;
}
#videoContainer{
    max-width: max-content;
}
#videoControl{
    grid-column: 2/3;
}
#videoStop{
    grid-column: 4/5;
}
.video_image{
    width:107px;
    height:60px;
}